/* Header */
#header:hover{
    color: rgb(76, 218, 76);
    border: solid lightgreen;
    display: flex;
    justify-content: center;
}

#headerflex{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#header{
    font-family: monospace;
    font-weight: bolder;
    text-align: center;
}

.subheaderflex{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 2em;
    
}

/* Link to Interview */
.articlelink{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

/* Response  */
#responseflex {
    display: flex;
    justify-content: center;
}

#response {
    font-family:'Courier New', Courier, monospace;
    width: 600px;
    text-align: center;
}

/* Bottom Pic */
#bottompicflex {
    display: flex;
    justify-content: center;
}

#bottompic {
    padding: 1em;
}

/* Home Button */
a:link{
    font-family: monospace;
    text-decoration: none;
    color: black;
}

a:visited{
    font-family: monospace;
    text-decoration: none;
    color: darkslategray;

}

p{
    outline: dotted darkslategray;
    padding: 1em
}
a{
    display: flex;
    justify-content: center;
}

