.header:hover{
    color: rgb(76, 218, 76);
}

.header{
    font-family: monospace;
    font-weight: bolder;
}

.requirements{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.response{
    font-family:'Courier New', Courier, monospace
}

a:link{
    font-family: monospace;
    text-decoration: none;
    color: black;
}

a:visited{
    font-family: monospace;
    text-decoration: none;
    color: darkslategray;

}