.header{
    font-family: monospace;
    font-weight: bolder;
}

.requirements{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.response{
    font-family:'Courier New', Courier, monospace
}

.footer{
    position: fixed;
    padding: 10px 10px 10px 10px;
    bottom: 0;
    width: 100%;
}

a:link {
    color: black;
    font-family: monospace;
    font-weight: bolder;
    text-decoration: none;
    font-size: 14pt;
}

a:visited{
    text-decoration: none;
    color: darkslategray;
    font-weight: bolder;
    text-decoration: none;
    font-size: 14pt;
 
}