.headerflex{
    display: flex;
    justify-content: center;

}
.header:hover{
    color: rgb(76, 218, 76);
    border: solid lightgreen;
    width: fit-content;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 00.25em;
    padding-bottom: 0.25em;
}

.header{
    font-family: monospace;
    font-weight: bolder;
}

.bodyflex{
    display: flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
}

.responseflex{
    display: flex;
    justify-content: center;
}

.requirements{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.response{
    font-family:'Courier New', Courier, monospace
}

a:link{
    font-family: monospace;
    text-decoration: none;
    color: black;
}

a:visited{
    font-family: monospace;
    text-decoration: none;
    color: darkslategray;

}

p{
    outline: dotted darkslategray;
    padding: 1em
}
a{
    display: flex;
    justify-content: center;
}