.header:hover{
    color: rgb(76, 218, 76);
}

.header{
    font-family: monospace;
    font-weight: bolder;
}

.requirements{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.response{
    font-family:'Courier New', Courier, monospace
}

a:link{
    text-decoration: none;
    font-family: monospace;
    color: black;
}
a:visited{
    text-decoration: none;
    color: darkslategrey;
    font-family: monospace;
    
}