.header {
    font-family:'Times New Roman', Times, serif;
    color: #2b1f05;
}

.bubblebox {
    font-family: 'Times New Roman', Times, serif;
    color: #2b1f05;
    outline: dashed #7A5A10;
    padding: 0.5em; 
    width: fit-content; 
    border-radius: 50px;
    margin: 1pc;
}

.bubblebox:hover {
    background-color: #f8d37b;
}

a:visited{
    text-decoration: none;
    color: #2b1f05;
    
}