.header {
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

.responsetextflex {
    display: flex;
    justify-content: center;
}
.responsetext {
    font-family:'Times New Roman', Times, serif;
    color: #7A715B;
    background-color: whitesmoke;
    padding: 1em;
    border: thick solid #494436;
}

.footerflex {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 1em;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: rgb(226, 224, 224);
}