.header {
    font-family:'Times New Roman', Times, serif;
    color: #2b1f05;
}

a:link {
    color: #2b1f05;
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: #0f0b02;
    
}

.bubblebox {
    font-family: 'Times New Roman', Times, serif;
    color: #2b1f05;
    outline: dashed #7A5A10;
    padding: 0.5em; 
    width: fit-content; 
    border-radius: 50px;
    margin: 1pc;
}

.bubblebox:hover{
    background-color: #f8d37b;
}

.bubbleboxflex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

.footer{
    font-family:'Times New Roman', Times, serif;
    color: #2b1f05;
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    
}