.header {
    display: flex;
    justify-content: center;
    color: whitesmoke;
}

.responsetextflex {
    display: flex;
    justify-content: center;
}
.responsetext {
    font-family:'Times New Roman', Times, serif;
    color: whitesmoke;
}

.footerflex {
    display: flex;
    justify-content: center;
    align-content: center;
}

a:link {
    color: whitesmoke;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: rgb(226, 224, 224);
}