.readingresponse{
    font-family: 'Times New Roman', Times, serif;
    color: #7A715B
}

p{
    border: solid #7A715B; width: fit-content;
    margin: 1.5em;
    padding: 1.5em;
}

a{
    margin-top: 2em;
    padding: 2em;  
}

.episodesflex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
}

a:visited{
    text-decoration: none;
    color: #7A715B;
    
}