#headerflex {
    display: flex;
    justify-content: center;
}

#header {
    font-family: 'Courier New', Courier, monospace;
    color: #17412E;
}

/* Navbar */
.navbar {
    overflow: hidden;
    background-color:#17412E;
    margin-top: 1em;
    margin-bottom: 1em;
  }

.navbar a:link {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color:#f6efdf;
    text-align: center;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:visited {
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color:#f6efdf;;
    text-align: center;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color:#f6efdf;
    color: #17412E;
}

/* New Arrivals */
#newarrivalstitlecard {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: #17412E;;
}

#newarrivalsflex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}

.newarrivals {
    font-family: 'Courier New', Courier, monospace;
    color: #17412E;
    padding: 1em;

}

.newarrivals a {
    font-size: small;
    text-decoration: none;
    color: #17412E;
}

.newarrivals:hover a {
    color: #f6efdf;
    transition: 0.75s;
}

.newarrivals:hover {
    background-color: #17412E;
    color: #f6efdf;
    transition: 0.75s;
}

#newarrivalall a:link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #17412E;
    padding: 1em;
}

#newarrivalall a:visited {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #17412E;
    padding: 1em;
}



/* Collections */

#collectionsflex {
    display: flex;
    justify-content: space-around;
    padding-top: 1em;
    padding-bottom: 1em;
}

#collectionstitlecard {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: #17412E;
}

.collections {
    font-family: 'Courier New', Courier, monospace;
    color: #17412E;
    padding: 1em;
}

.collections:hover {
    background-color: #17412E;
    color: #f6efdf;
    transition: 0.75s;
}

#collectionsall a:link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #17412E;
    padding: 1em;
}

#collectionsall a:visited {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #17412E;
    padding: 1em;
}


/* Best Sellers */

#bestsellerstitlecard {
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    color: #17412E;;
}

#bestsellersflex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1em;
}

.bestsellers {
    font-family: 'Courier New', Courier, monospace;
    color: #17412E;
    padding: 1em;
}

.bestsellers:hover {
    background-color: #17412E;
    color: #f6efdf;
    transition: 0.75s;
}

#bestsellersall a:link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #17412E;
    padding: 1em;
}

#bestsellersall a:visited {
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    color: #17412E;
    padding: 1em;
}

#launchcard {
    display: flex;
    justify-content: center;
    padding: 1em;
    transition: 0.75s;
}

#contactusflex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace; 
    padding: 0.5em;
}

#contactusflex a:link {
    text-decoration: none;
    color: #17412E;
}

#contactusflex a:visited {
    text-decoration: none;
    color: #17412E;
}
